
<section class=" text-center text-lg-start">
  <div class="card mb-3">
    <div class="row g-0 d-flex align-items-center">
      <div class="col-lg-4 d-none d-lg-flex">
        <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" alt="Trendy Pants and Shoes"
             class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
      </div>
      <div class="col-lg-8">
        <div class="card-body py-5 px-md-5">
          <form>
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="text"  class="form-control"
                     name="username"
                     [(ngModel)]="userLoginObj.username"
                     required
              />
              <label class="form-label" >Username</label>
            </div>
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="text"  class="form-control"
                     name="password"
                     [(ngModel)]="userLoginObj.password"
                     required
              />
              <label class="form-label" >Password</label>
            </div>
            <div class="row mb-4">
            </div>
            <button  type="button"  class="btn btn-primary btn-block mb-4"
              (click)="onLogin()"
            >
              Sign in
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

