<div class="container my-4">
  <div class="d-flex justify-content-between mb-3">
    <h2>{{ title }}</h2>
    <button class="btn btn-primary"
            *ngIf="isAdmin"
            (click)="onCreate()">Crear Nuevo</button>
  </div>
  <table class="table table-bordered table-hover">
    <thead class="thead-light">
    <tr>
      <th *ngFor="let col of columnas">{{ col.header }}</th>
      <th class="text-center">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of data">

      <td *ngFor="let col of columnas">{{ item[col.field] }}</td>
      <td class="text-center">
        <button class="btn btn-warning btn-sm me-2"
                *ngIf="isAdmin"
                (click)="onEdit(item)">
          <i class="bi bi-pencil-square"></i> Editar
        </button>
        <button class="btn btn-danger btn-sm"
                *ngIf="isAdmin"
                (click)="onDelete(item)">
          <i class="bi bi-trash"></i> Eliminar
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
